<!DOCTYPE html>
<html layout:decorator="therapySession/layout" xmlns="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="alert">
    <div class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4 th:text="${header}">Alert header</h4>
        <!--/* 'layout:fragment' attribute defines a replaceable content section */-->

    </div>
</th:block>
</body>
</html>