<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="page-header">
        <h1>Nieuwe Behandeling</h1>
    </div>
    <p>Hier kun je een nieuwe behandeling toevoegen.</p>

    <div th:if="${success != null}">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Succes!</strong> <p th:text="${success}"></p>
        </div>
    </div>

    <!--/* Als er een nieuw repository is toegevoegd tonen we een info bericht. */-->
    <div th:if="${error != null}">
        <!--/* Implements alert summary fragment with simple summary */-->
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
    </div>
    <!-- Form om een nieuwe repository te maken. Het object 'repository' is het object waarin de
        waarden uit het formulier worden ingevuld. Het is afkomstig uit de MemberController. -->
    <form id="createTherapyForm" action="#" th:action="@{/therapy/create}" th:object="${therapySession}" method="post">

        <div th:if="${#fields.hasErrors('*')}">
            <div layout:include="views/therapy/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                <!--&lt;!&ndash;/* Implements alert summary fragment with full-blown HTML summary */&ndash;&gt;-->
                <!--<th:block layout:fragment="alert-summary">-->
                    <!--<p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>-->
                    <!--&lt;!&ndash;<p><button type="button" class="btn btn-danger">Take this action</button></p>&ndash;&gt;-->
                <!--</th:block>-->
            </div>
        </div>
        <!--<div th:if="${exception}">-->
            <!--<div layout:include="views/therapy/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">-->
                <!--&lt;!&ndash;/* Implements alert summary fragment with full-blown HTML summary */&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">

                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="startDate">Begin datum</label>
                        <input type="datetime-local" class="form-control" id="startDate" th:field="*{startDate}" th:required="required"/>
                        <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Date Error</p>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="endDate">Eind datum</label>
                        <input type="datetime-local" class="form-control" id="endDate" th:field="*{endDate}" th:required="required"/>
                        <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Date Error</p>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="clientBSN">Klant BSN</label>
                        <input type="number" class="form-control" id="clientBSN" th:field="*{clientBSN}" th:required="required"/>
                        <p th:if="${#fields.hasErrors('clientBSN')}" th:errors="*{clientBSN}">clientBSN Error</p>
                    </div>
                </div>
            <div class="col-sm-5">
                <div class="form-group blu-margin">
                    <label for="therapistBSN">Therapeut</label>
                    <select class="form-control" th:field="*{therapistBSN}"  id="therapistBSN" th:required="required">
                        <option th:each="therapist : ${therapists}" th:value="${therapist.bsn}" th:text="${therapist.name}"></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group blu-margin">
                    <label for="dropTherapyData1">Behandeling</label>
                    <select class="form-control" th:field="*{therapyCode1}"  id="dropTherapyData1" th:required="required">
                        <option th:each="therapyData : ${therapiesData}" th:value="${therapyData.therapyCode}" th:text="${therapyData.therapyName}"></option>
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" name="save">Opslaan</button>

    </form>
</div>

<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>