<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <h1>Behandeling verwijderen</h1>
    </div>
    <p>Weet u zeker dat u deze behandeling wil verwijderen.</p>
    <form action="#" th:action="@{|/therapy/delete/${therapySession.id}|}" th:object="${therapySession}" method="post">
        <input type="hidden" id="id"  th:field="${therapySession.id}" readonly="true"/>
        <table class="table">
            <tr class="row">
                <td class="col-md-4"><strong>Start datum:</strong> </td>
                <td class="col-md-8" th:text="${therapySession.startDate}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>Eind datum:</strong> </td>
                <td class="col-md-8" th:text="${therapySession.endDate}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>Status:</strong></td>
                <td class="col-md-8" th:text="${therapySession.therapyStatus}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>Klant BSN:</strong> </td>
                <td class="col-md-8" th:text="${therapySession.clientBSN}"></td>
            </tr>
        </table>
        <!-- testing security issues db -->
        <p><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></p>
        <!--</table>-->
        <button type="submit" class="btn btn-primary" name="edit">Verwijderen</button>

    </form>
</div>


<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>