<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="page-header">
        <h1>Behandelinsessie Wijzigen</h1>
    </div>
    <p>Hier kun je een behandelsessie wijzigen.</p>

    <div th:if="${success != null}">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Succes!</strong> <p th:text="${success}"></p>
        </div>
    </div>

    <div th:if="${error != null}">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
    </div>


<form action="#" th:action="@{|/therapy/edit/${therapySession.id}|}" th:object="${therapySession}" method="post">
    <input type="hidden" id="id"  th:field="${therapySession.id}" readonly="true"/>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="startDate">Begin datum</label>
                <input type="datetime-local" class="form-control" id="startDate" th:field="*{startDate}" th:required="required"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Date Error</p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label for="endDate">Eind datum</label>
                <input type="datetime-local" class="form-control" id="endDate" th:field="*{endDate}" th:required="required"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Date Error</p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label for="clientBSN">Klant clientBSN</label>
                <input type="text" class="form-control" id="clientBSN" th:field="*{clientBSN}" th:required="required"/>
                <p th:if="${#fields.hasErrors('clientBSN')}" th:errors="*{clientBSN}">clientBSN Error</p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group blu-margin">
                <label for="status">Status</label>
                <select class="form-control" th:field="*{therapyStatus}"  id="status" th:required="required">
                    <option th:each="st : ${status}" th:value="${st}" th:text="${st}" ></option>
                </select>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group blu-margin">
                <label for="therapistBSN">Therapeut</label>
                <select class="form-control" th:field="*{therapistBSN}"  id="therapistBSN" th:required="required">
                    <option th:each="therapist : ${therapists}" th:value="${therapist.bsn}" th:text="${therapist.name}" th:selected="${therapists.contains(therapistBSN)}"></option>
                </select>
            </div>
        </div>


        </div>

        <!-- testing security issues db -->
        <p><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></p>
    <!--</table>-->
    <button type="submit" class="btn btn-primary" name="edit">Wijzigen</button>

</form>
</div>

<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>