<!DOCTYPE html>
<!--
Author: Erik Koolen
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>Behandelingen overzicht</title>
        
        <!-- Bootstrap css--> 
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css" th:src="@{/webjars/bootstrap-select/1.9.4/bootstrap-select.min.css}" rel="stylesheet" media="screen" />
        <!-- datepicker css-->
        <link href="../static/css/datepicker.css" th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
        <!-- other css-->
        <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
        <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
        
        <!--jquery -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <!--bootstrap js -->
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <!--bootstrap datepicker js -->
        <script src="../static/js/bootstrap-datepicker.js" th:src="@{/js/bootstrap-datepicker.js}"></script>
        
        <!--don't print style -->
        <style type="text/css" media="print">
            .notprint {
            visibility: hidden;
            display: none;
            }
        </style>
        
        <!--initiate datepicker -->
        <script> 
            $(function(){
                
                $('.datepicker').datepicker();
            });
        </script>
        
    </head>
    <body>
        
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            
            <h2>Behandelingen overzicht</h2>
            <p class="notprint">Hieronder kunt U een behandelingen overzicht genereren door een begin- en einddatum te specificeren</p>
        
            <div th:if="${success != null}">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Succes!</strong> <p th:text="${success}"></p>
                </div>
            </div>
        
            <form action="#" th:action="@{/overview}" method="post" class="notprint">    
                <div class="well">
                    Begin datum: <input class="datepicker" type="text" th:value="${startdate}" name="startdate" readonly="readonly"/>
                    Eind datum: <input class="datepicker" type="text" th:value="${enddate}" name="enddate" readonly="readonly"/>
                    <button type="submit" class="btn btn-primary" name="generateoverview">Genereer</button>
                </div>           
            </form>
           
            <p>U heeft gezocht op begin datum: <b th:text="${startdate}"></b></p>
            <p>en eind datum: <b th:text="${enddate}"></b></p>
            
            <script LANGUAGE="JavaScript"> 
            if (window.print) {
                document.write('<button type="button" class="notprint btn btn-primary" name="print" onClick="window.print()">Print pagina</button>');
            }
            </script>
            
            <table class="table table-striped">
                <tr>
                    <th>Totaal aantal behandelingen</th>
                </tr>
                <tr>
                    <td th:text="${cumulative}"></td>
                </tr>
            </table>
            
            <br/>
            <br/>
        
            <table class="table table-striped">
                <tr>
                    <th>Patiënt</th>
                    <th>Dag</th>
                    <th>Datum</th>
                    <th>Begin tijd</th>
                    <th>Eind tijd</th>
                    <th>Fysiotherapeut</th>
                    <th class="notprint">Wijzigen</th>
                    <th class="notprint">Verwijderen</th>
                </tr>
                <tr th:each="session : ${planning}">
                    <td th:text="${session.clientBSN}"></td>
                    <td th:text="${session.day}"></td>
                    <td th:text="${session.date}"></td>
                    <td th:text="${session.startTime}"></td>
                    <td th:text="${session.endTime}"></td>
                    <td th:text="${session.physioName}"></td>
                    <td class="notprint"><a th:href="|/therapy/edit/${session.sessionID}|">Wijzig</a></td>
                    <td class="notprint"><a th:href="|/therapy/delete/${session.sessionID}|">Verwijder</a></td>
                </tr>    
            </table>
                      
        </div>
        
        <footer class="footer notprint">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>
       
    </body>
</html>
