<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    
    <div class="page-header">
        <h1>Stamgegevens toevoegen</h1>
    </div>
    <p>Hier kunt u stamgegevens toevoegen.</p>

        <div th:if="${error != null}">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> <p th:text="${error}"></p>
            </div>
        </div>
     <div th:if="${error == null}">
    

    
    <!-- Form om een nieuwe repository te maken. Het object 'repository' is het object waarin de
        waarden uit het formulier worden ingevuld. Het is afkomstig uit de MemberController. -->
   
        <!-- Het formulier wordt na verzenden gevalideerd in de MemberController.
            Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
            Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
            van het inputveld veranderen. -->
     
        <form class="form-horizontal" action="#" th:action="@{/fysiopractice/create}" th:object="${fysioPractice}" method="post">

          <div class="form-group">
                <label class="control-label col-sm-2" >Naam:</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" th:field="*{name}" required="true"/>
                  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">email error</p>
                </div>
              </div>
            
             <div class="form-group">
                <label class="control-label col-sm-2" >Adres:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:field="*{address}" required="true"/>
                </div>
              </div>
            
             <div class="form-group">
                <label class="control-label col-sm-2" >Postcode:</label>
                <div class="col-sm-10">
                   <input class="form-control" type="text" th:field="*{postcode}" required="true"/>
                   <p th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">email error</p>
                </div>
              </div>
            
             <div class="form-group">
                <label class="control-label col-sm-2" >Stad:</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" th:field="*{city}" required="true"/>
                  <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">email error</p>
                </div>
              </div>
             <div class="form-group">
                <label class="control-label col-sm-2" >Telefoonnummer:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:field="*{phoneNumber}" required="true"/>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">email error</p>
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-sm-2" >E-mail:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:field="*{email}" required="true"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</p>
                    
                </div>
              </div>
                 <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-default" type="submit" value="Toevoegen"/>
                     </div>
                </div>
  
        <!-- De button die voor verzenden van het formulier zorgt.
            De name 'save' is een parameter waarmee in de MemberController de juiste
            save-actie wordt gestart. -->
       

        </form>
    </div>
</div>

<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>