<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <h1>Stamgegevens wijzigen</h1>
    </div>
    <p>Hier kunt u de stamgegevens wijzigen.</p>
    <div th:if="${error != null}">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${error == null}">


        <div th:if="${success != null}">
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Succes!</strong> <p th:text="${success}"></p>
            </div>
        </div>
        <form class="form-horizontal" action="#" th:action="@{|/fysiopractice/edit/${fysiopractice.id}|}" th:object="${fysiopractice}" method="post">
            <input type="hidden" id="id"  th:field="${fysiopractice.id}" readonly="true" required="true"/>  
             <div class="form-group">
                <label class="control-label col-sm-2" >Naam:</label>
                <div class="col-sm-10">
                   <input class="form-control" type="text" id="name"  th:field="${fysiopractice.name}" required="true"/>   
                </div>
              </div>

             <div class="form-group">
                <label class="control-label col-sm-2" >Adres:</label>
                <div class="col-sm-10">
                   <input class="form-control" type="text" id="address"  th:field="${fysiopractice.address}" required="true" /> 
                </div>
              </div>

             <div class="form-group">
                <label class="control-label col-sm-2" >Postcode:</label>
                <div class="col-sm-10">
                   <input class="form-control" type="text" id="postcode"  th:field="${fysiopractice.postcode}" required="true" /> 
                </div>
              </div>

             <div class="form-group">
                <label class="control-label col-sm-2" >Stad:</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" id="city"  th:field="${fysiopractice.city}" required="true" /> 
                </div>
              </div>
             <div class="form-group">
                <label class="control-label col-sm-2" >Telefoonnummer:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="phoneNumber"  th:field="${fysiopractice.phoneNumber}" required="true" /> 
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-sm-2" >E-mail:</label>
                <div class="col-sm-10">
                   <input class="form-control" type="text" id="email"  th:field="${fysiopractice.email}" required="true" /> 
                </div>
              </div>
                 <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-default" type="submit" value="Wijzig"/>
                     </div>
                </div>
        </form>
    </div>
</div> 
<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>
