<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    
    <div class="page-header">
        <h1>Overzicht stamgegevens</h1>
    </div>
    <p>Hier ziet u een overzicht van de stamgegevens.</p>
     <div th:if="${error != null}">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> <p th:text="${error}"></p>
        </div>
     </div>
    <div th:if="${error == null}">

        <div th:if="${success != null}">
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Succes!</strong> <p th:text="${success}"></p>
            </div>
        </div>
            
        <table class="table" >
            <tr class="row">
                <td class="col-md-4"><strong>Naam:</strong> </td>
                <td class="col-md-8" th:text="${fysiopractice.name}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>Adres:</strong> </td>
                <td class="col-md-8" th:text="${fysiopractice.address}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>Postcode:</strong></td>
                <td class="col-md-8" th:text="${fysiopractice.postcode}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>City:</strong> </td>
                <td class="col-md-8" th:text="${fysiopractice.city}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>Telefoonnummer:</strong> </td>
                <td class="col-md-8" th:text="${fysiopractice.phoneNumber}"></td>
            </tr>
            <tr class="row">
                <td class="col-md-4"><strong>E-mail:</strong> </td>
                <td class="col-md-8" th:text="${fysiopractice.email}"></td>
            </tr>
        </table>
       
    </div>
        
        
</div> 
<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>
