<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <h3>De wijzigingen zijn verwerkt</h3>
            <a th:href="@{'~/therapist'}" class="btn btn-lg" role="button">Terug</a>
        
            <footer class="footer">
                <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
            </footer>

            <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
            <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        </div>
    </body>
</html>
