<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title>Create Therapist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Bootstrap css--> 
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <!-- datepicker css-->
        <link href="../static/css/datepicker.css" th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
        
        <!--jquery -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
    
        <div class="page-header">
            <h1>Fysiotherapeut toevoegen</h1>
        </div>
            <p>Hier kunt u een nieuwe fysiotherapeut aanmaken.</p>

        <div th:if="${error != null}">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> <p th:text="${error}"></p>
            </div>
        </div>
     <div th:if="${error == null}">
        
        <form class="form-horizontal" action="#" th:action="@{/createtherapist}" th:object="${therapist}" method="post">
        <table class="table table-striped table-hover">
            <tr>
                <td>Bsn:</td>
                <td><input type="text" id="bsn" th:field="*{bsn}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('bsn')}" th:errors="*{bsn}" style="color:red;">Bsn error</td>
            </tr>
            <tr>
                <td>Voor- en achternaam:</td>
                <td><input type="text" id="name" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">Name error</td>
            </tr>
            <tr>
                <td>Geboortedatum</td>
                <td><input type="text" id="dateOfBirth" th:field="*{dateOfBirth}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color:red;">Date error</td>
            </tr>
            <tr>
                <td>MandSalaris:</td>
                <td><input type="text" id="salary" th:field="*{salary}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color:red;">Salary error</td>
            </tr>
            <tr>
                <td>Aantal werkuren:</td>
                <td><input type="text" id="hours" th:field="*{hours}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}" style="color:red;">Hours error</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td><input type="text" id="address" th:field="*{address}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red;">Address error</td>
            </tr>
            <tr>
                <td>Postcode: </td>
                <td><input type="text" id="postcode" th:field="*{postcode}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}" style="color:red;">Postcode error</td>
            </tr>
            <tr>
                <td>Woonplaats: </td>
                <td><input type="text" id="city" th:field="*{city}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:red;">City error</td>
            </tr>
            <tr>
                <td>Telefoonnummer: </td>
                <td><input type="text" id="phone" th:field="*{phone}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red;">Phone error</td>
            </tr>
            <tr>
                <td>Emailadres: </td>
                <td><input type="text" id="email" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;">Email error</td>
            </tr>
            <tr>
                <td>Werkt op maandag: </td>
                <td><input type="checkbox" id="monday" th:field="*{monday}"/></td>
            </tr>
            <tr>
                <td>Werkt op dinsdag: </td>
                <td><input type="checkbox" id="tuesday" th:field="*{tuesday}"/></td>
            </tr>
            <tr>
                <td>Werkt op woensdag: </td>
                <td><input type="checkbox" id="wednesday" th:field="*{wednesday}"/></td>
            </tr>
            <tr>
                <td>Werkt op donderdag: </td>
                <td><input type="checkbox" id="thursday" th:field="*{thursday}"/></td>
            </tr>
            <tr>
                <td>Werkt op vrijdag</td>
                <td><input type="checkbox" id="friday" th:field="*{friday}"/></td>
            </tr>
            <tr>
                <td><input type="reset" value="Velden leegmaken" /></td>
                <td><input type="submit" value="Aanmaken"/></td>              
            </tr>
        </table>

    </form>
    </div>
</div>
        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>