<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Bootstrap css--> 
            <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

            <!--jquery -->
            <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        
        <div class="container">
            <div class="page-header">
                <h1>Verwijderen van fysiotherapeut</h1>
            </div>
            <p class="lead"><br/>Weet u zeker dat u deze fysiotherapeut wilt verwijderen?</p>

            <form action="#" th:action="@{/therapist/delete/{therapist.employeeNumber}}" method="post">
                <input type="hidden" id="employeeNumber"  th:field="${therapist.employeeNumber}" readonly="true"/>
                <table class="table table-striped table-hover">
                    <tr>
                        <td>Werknemersnummer</td>
                        <td th:text="${therapist.employeeNumber}"></td>
                    </tr>
                    <tr>
                        <td>Naam</td>
                        <td th:text="${therapist.name}"></td>
                    </tr>
                    <tr>
                        <td>Bsn</td>
                        <td th:text="${therapist.bsn}"></td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td th:text="${therapist.address}"></td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td th:text="${therapist.postcode}"></td>
                    </tr>
                    <tr>
                        <td>Woonplaats</td>
                        <td th:text="${therapist.city}"></td>
                    </tr>
                    <tr>
                        <td>Geboortedatum</td>
                        <td th:text="${therapist.dateOfBirth}"></td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer</td>
                        <td th:text="${therapist.phone}"></td>
                    </tr>
                    <tr>
                        <td>Emailadres</td>
                        <td th:text="${therapist.email}"></td>
                    </tr>
                    <tr>
                        <td>Aantal werkuren per week</td>
                        <td th:text="${therapist.hours}"></td>
                    </tr>
                    <tr>
                        <td>Salaris</td>
                        <td th:text="${therapist.salary}"></td>
                    </tr> 
                    <tr>
                        <td>
                            <input type="submit" value="Verwijderen"/>
                            <a th:href="@{'~/therapist'}" class="btn btn-lg" role="button">Annuleren</a>
                        </td>
                    </tr>
                <!-- testing security issues db -->
               <!-- <p><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></p>-->
                </table>
            </form>
        </div>
        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>
