<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Bootstrap css--> 
            <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
            <!-- datepicker css-->
            <link href="../static/css/datepicker.css" th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />

            <!--jquery -->
            <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="page-header">
                <h1>Fysiotherapeut aanpassen</h1>
            </div>
            <p>Hier kunt u een bestaande fysiotherapeut aanpassen.</p>
    
            <form action="#" th:action="@{/therapist/edit/{therapist.EmployeeNumber}}" th:object="${therapist}" method="post">
                <input type="hidden" id="employeeNumber"  th:field="${therapist.employeeNumber}" readonly="true"/>
                <table class="table table-striped table-hover">
                    <tr>
                        <td>Werknemersnummer</td>
                        <td th:text="${therapist.employeeNumber}"></td>
                    </tr>
                    <tr>
                        <td>Naam</td>
                        <td><input type="text" id="name"  th:field="${therapist.name}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">Name error</td>
                    </tr>
                    <tr>
                        <td>Bsn</td>
                        <td><input type="text" id="bsn"  th:field="${therapist.bsn}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('bsn')}" th:errors="*{bsn}" style="color:red;">Bsn error</td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td><input type="text" id="address"  th:field="${therapist.address}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red;">address error</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td><input type="text" id="postcode"  th:field="${therapist.postcode}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}" style="color:red;">postcode error</td>
                    </tr>
                    <tr>
                        <td>Woonplaats</td>
                        <td><input type="text" id="city"  th:field="${therapist.city}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:red;">city error</td>
                    </tr>
                    <tr>
                        <td>Geboortedatum</td>
                        <td><input type="text" id="dateOfBirth"  th:field="${therapist.dateOfBirth}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color:red;">dateOFBirth error</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer</td>
                        <td><input type="text" id="phone"  th:field="${therapist.phone}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red;">phone error</td>
                    </tr>
                    <tr>
                        <td>Emailadres</td>
                        <td><input type="text" id="email"  th:field="${therapist.email}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;">email error</td>
                    </tr>
                    <tr>
                        <td>Aantal werkuren per week</td>
                        <td><input type="text" id="hours"  th:field="${therapist.hours}"/></td>
                    </tr>
                    <tr>
                        <td th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}" style="color:red;">hours error</td>
                    </tr>
                    <tr>
                        <td>MaandSalaris</td>
                        <td><input type="text" id="salary"  th:field="${therapist.salary}"/></td>
                    </tr> 
                    <tr>
                        <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color:red;">salary error</td>
                    </tr>
                    <tr>
                        <td>Werkt op maandag</td>
                        <td><input type="checkbox" id="monday" th:field="*{monday}"/></td>
                    </tr>
                    <tr>
                        <td>Werkt op dinsdag</td>
                        <td><input type="checkbox" id="tuesday" th:field="*{tuesday}"/></td>
                    </tr>
                    <tr>
                        <td>Werkt op woensdag</td>
                        <td><input type="checkbox" id="wednesday" th:field="*{wednesday}"/></td>
                    </tr>
                    <tr>
                        <td>Werkt op donderdag</td>
                        <td><input type="checkbox" id="thursday" th:field="*{thursday}"/></td>
                    </tr>
                    <tr>
                        <td>Werkt op vrijdag</td>
                        <td><input type="checkbox" id="friday" th:field="*{friday}"/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Wijzigen"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>
