<!DOCTYPE html>
<!--<html layout:decorator="views/member/layout">-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap css--> 
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <!-- datepicker css-->
        <link href="../static/css/datepicker.css" th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
        
        <!--jquery -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container-fluid">
        <div class="page-header">
            <br />
            <br />
            <h1>Lijst van fysiotherapeuten</h1>
        </div>
        <p class="lead">Op deze pagina kunnen de gegevens van fysioherapeuten aangepast of verwijderd worden</p>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Werknemersnummer</th>
                <th>Naam</th>
                <th>Bsn</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Woonplaats</th>
                <th>Geboortedatum</th>
                <th>Telefoonnummer</th>
                <th>Emailadres</th>
                <th>Aantal werkuren</th>
                <th>Maandsalaris</th>               
            </tr>
            </thead>
            <tbody>
            <tr th:if="${therapists.empty}">
                <td colspan="4">Geen fysiotherapeuten gevonden</td>
            </tr>
            <tr th:each="therapist : ${therapists}">
                <td th:text="${therapist.employeeNumber}"></td>
                <td th:text="${therapist.name}"></td>
                <td th:text="${therapist.bsn}"></td>
                <td th:text="${therapist.address}"></td>
                <td th:text="${therapist.postcode}"></td>
                <td th:text="${therapist.city}"></td>
                <td th:text="${therapist.dateOfBirth}"></td>
                <td th:text="${therapist.phone}"></td>
                <td th:text="${therapist.email}"></td>
                <td th:text="${therapist.hours}"></td>
                <td th:text="${therapist.salary}"></td>
                <td><a th:href="@{'/therapist/edit/' + ${therapist.employeeNumber}}" class="btn btn-lg" role="button">Wijzigen</a> |
                    <a th:href="@{'/therapist/delete/' + ${therapist.employeeNumber}}" class="btn btn-lg" role="button">Verwijderen</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>