<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head">
        <title>Spring Security Example</title>
        
    </head>
    <body>
        
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
        <h1>Welcome!</h1>
        <p><a th:href="@{/hello}">Behandelingen beheren</a></p>
        <p><a th:href="@{/helloOther}">Fysiotherapeuten beheren</a> (SECRETARESSE)</p>
        </div>
        
        <footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    </body>
</html>