<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" summary="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen" />
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top notprint" th:fragment="header">
    
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/">Fysio</a>
        </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Behandelingen beheren<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a href="/overview">Overzicht</a>
                        </li>
                        <li role="presentation">
                            <a href="/therapy/create">Aanmaken</a>
                        </li>
                   
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Therapeuten beheren<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                          <li role="presentation">
                            <a href="/therapist">Overzicht</a>
                        </li>
                       
                        <li role="presentation">
                            <a href="/createtherapist">Aanmaken</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stamgegevens beheren<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a href="/fysiopractice/overview">Overzicht</a>
                        </li>
                        <li role="presentation">
                            <a href="/fysiopractice/create">Aanmaken</a>
                        </li>
                        <li role="presentation">
                            <a href="/fysiopractice/edit">Wijzigen</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="float-right nav navbar-nav">
                <li>
                    <a th:inline="text"> [[${#httpServletRequest.remoteUser}]]</a>
                    
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input class="logout_button" type="submit" value="Uitloggen"/>
                    </form>
                </li>
            </ul>
        </div>
        
        <!--/.nav-collapse -->
        
    </div>
</nav>

</body>
</html>