<!DOCTYPE html>
<!--<html layout:decorator="views/repository/layout">-->
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" summary="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 th:text="${title}" class="page-header">Error page</h1>
            <p th:text="${lead}" class="lead">Er is een fout opgetreden.</p>
            <p th:utext="${message}">Er is een fout opgetreden.</p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p th:text="${exception}">Exception message </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <!--<p style="font-size: 12em; color: #dddddd; font-weight: bold;">Error</p>-->
        </div>
    </div>
</div>

<footer class="footer">
    <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
</footer>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>