<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <p><a th:href="@{/hello}">Behandelingen beheren</a> (THERAPIST)</p>
        <p><a th:href="@{/helloOther}">Fysiotherapeuten beheren</a> (SECRETARESSE)</p>
    </body>
</html>