<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
       <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen" />
       <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
        <title>Login</title>
    </head>
    <body>
        
        <div id="mainWrapper">
            <div class="login-container">
                <div class="login-card">
                    <div class="login-form">
                        <div th:if="${param.error}">
                            Verkeerde gebruikersnaam/wachtwoord.
                        </div>

                        <div th:if="${param.logout}">
                            U bent nu uitgelogd!
                        </div>

                        <form th:action="@{/login}" method="post">
                            
                            <div class="input-group ">
                                 <label>Gebruikersnaam: </label><input type="text" class="form-control" name="username" required="true"/>
                            </div>
                            
                            <div class="input-group">
                                <label>Wachtwoord: </label><input type="password" class="form-control" id="password" name="password"  required="true"/>
                            </div>
                        <br/>
                            <div><input  class="btn  btn-primary btn-default"  type="submit" value="Inloggen"/></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>